<div *ngIf="stock">

  <h2>{{stock.name | uppercase}} Details</h2>
  <div><span>name: </span>{{stock.name}}</div>
  <div><span>high price: </span>{{stock.highPrice}}</div>
   <div><span>low price: </span>{{stock.lowPrice}}</div>
   <div><span>current price: </span>{{stock.currPrice}}</div>
   <div><span>open: </span>{{stock.open}}</div>
   <div><span>close: </span>{{stock.close}}</div>
   <div><span>volumn: </span>{{stock.volume}}</div>

</div>


<div>this is stock details</div>

