<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">DoubleD DOS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
          <a routerLink="/graphs" class="nav-link disabled" href="#">Graphs</a>
      </li>
      <li class="nav-item">
          <a routerLink="/strategy" class="nav-link disabled" href="#">Strategy</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
