<div class="container alert alert-info" >
    <div class="row">
        <div class="col-md">

            <h4 style="padding-top : 6px">Add Stock : </h4>
        </div>
        <div class="col-md">
            <form>
                <div class="input-group">
                <input type="text" class="form-control" id="stockName" name="stockName" [(ngModel)]="stockName" required>
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-outline-secondary" (click)="addStock()" >Add</button>
                </span>
                </div>
            </form>
        </div>
        <div style="padding-top : 6px" class="col-md" [hidden]="!stock || !valid">
            Stock Name: {{stock?.name}}
        </div>
        <div style="padding-top : 6px" class="col-md" [hidden]="!stock || !valid">
            Current Price: {{stock?.currentPrice}}
        </div>

    </div>
</div>
<div class="container alert alert-danger" [hidden]="valid">
        <strong>
             <p style="padding-top : 8px; text-align:center">ERROR : Please Input a Valid Stock</p>
        </strong>

</div>
<!-- <div class="container">
  <canvas id="myChart"></canvas>
</div> -->
<div class="row">
  <div class="col-md-6">
    <div style="display: block;">
    <canvas baseChart width="400" height="400"
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColors"
                [legend]="lineChartLegend"
                [chartType]="lineChartType"
                (chartHover)="chartHovered($event)"
                (chartClick)="chartClicked($event)"></canvas>
    </div>
  </div>
  <div class="col-md-6" style="margin-bottom: 10px">
    <table class="table table-responsive table-condensed">
      <tr>
        <th *ngFor="let label of lineChartLabels">{{label}}</th>
      </tr>
      <tr *ngFor="let d of lineChartData">
        <td *ngFor="let label of lineChartLabels; let j=index">{{d && d.data[j]}}</td>
      </tr>
    </table>
    <button (click)="update()">Update</button>
    <button (click)="details()">View Stock Details</button>
  </div>
</div>
