<!--The content below is only a placeholder and can be replaced.-->
<app-navbar></app-navbar>
<!-- <div style="text-align:center">
  <h1>
    {{ title }}
  </h1>

</div> -->

<!-- 
<div class="container">

    <div class="row">
        <app-stocks></app-stocks>
    </div>

    <div class="row">
        <app-strategy class="col-md-6 col-lg-6 col-sm-12"></app-strategy>
        <app-running-strategy class="col-md-6 col-lg-6 col-sm-12"></app-running-strategy>
    </div>

</div> -->
