

<br>
    <br>
    <div class="container">
    <h3>Define Your Strategy</h3>
    <br>

    <div class="container alert alert-danger" [hidden]="status || !trigger">
        <strong>
             <p style="padding-top : 10px; text-align:center">ERROR : Invalid Input</p>
        </strong>
     </div>

     <div class="container alert alert-success" [hidden]="!status || !trigger">
            <strong>
                 <p style="padding-top : 10px; text-align:center">SUCCESS</p>
            </strong>
         </div>
    
    <form>
    <div class="row">
      <div class="col-md-4 form-group" >
        <label for="stockName">Strategy Name</label>
        <input type="text" class="form-control" id="id" name="id" [(ngModel)]="id" required>
      </div>

     
        <div class="col-md-4 form-group">
            <label for="stockName">Stock</label>
            <input type="text" class="form-control" id="stockName" name="stock" [(ngModel)]="stock" required>
        </div>
    
        <div class="col-md-4 form-group">
            <label for="strategies">Strategy</label>
            <select class="form-control" id="strategy" name="strategy" [(ngModel)]="strategy" required>
                <option *ngFor="let strategy of strategies">{{strategy}}</option>
            </select>
        </div>
      </div>

      <div class="row">
      <div class="form-group col-md-4">
          <label for="stopping">Stopping Threshold</label>
          <input type="text" class="form-control" id="stopping" name="stopping" [(ngModel)]="stopping">
      </div>

      <div class="form-group col-md-4">
          <label for="exit">Exit Threshold</label>
          <input type="text" class="form-control" id="exit" name="exit" [(ngModel)]="exit">
      </div>
      <div class="form-group col-md-4">
          <label for="amount">Amount</label>
          <input type="text" class="form-control" id="amount" name="amount" [(ngModel)]="amount">
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-6" [hidden]="strategy!='TwoMA'">
          <label for="param2">Long Term Window</label>
          <input type="text" class="form-control" id="MA1" name="longMA" [(ngModel)]="longMA">
      </div>

      <div class="form-group col-md-6" [hidden]="strategy!='TwoMA'">
          <label for="param1">Short Term Window</label>
          <input type="text" class="form-control" id="param1" name="shortMA" [(ngModel)]="shortMA">
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6" [hidden]="strategy!='BollingerBands'">
          <label for="param2">Window Size</label>
          <input type="text" class="form-control" id="param2" name="windowBB" [(ngModel)]="windowBB">
      </div>

      <div class="form-group col-md-6" [hidden]="strategy!='BollingerBands'">
          <label for="param2">Deviation</label>
          <input type="text" class="form-control" id="param2" name="deviationBB" [(ngModel)]="deviationBB">
      </div>
    </div>
      <button type="submit" class="btn btn-outline-secondary" (click)="addStrategy(); getRunningStrategy()">Start</button>
    </form>
</div>

    <br>
    <br>

    <div class="container alert alert-info" [hidden]="!pnl">
        
            <p style="padding-top : 8px; text-align:center">Strategy Name:{{currentid}}  PnL:{{pnl}} </p>
       

    </div>
<div class="container">

<button type="button" class="btn btn-dark btn-lg" (click)="running=true; getRunningStrategy(); getPerformance()">Running Strategy</button>
<button type="button" class="btn btn-light btn-lg" (click)="running=false; getPausedStrategy()">Paused Strategy</button>
<!-- {{run | json}} -->

        
<table class="table" [hidden]="!running" >
        <thead class="thead-dark">
          <tr >
            <th scope="col" *ngFor="let col of runningcolumns" >{{col}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let a of run">
            <th scope="row">{{a.id}}</th>
            <td>{{a.stockName}}</td>
            <td>{{a.type}}</td>
            <td>{{a.stoppingThreshold}}</td>
            <td>{{a.exitThreshold}}</td>
            <td>{{a.amount}}</td>
            <td>{{a.param1}}</td>
            <td>{{a.param2}}</td>
            <td><button type="button" class="btn btn-warning" (click) = "pauseStrategy(a.id)">Pause</button></td>
            <td><button type="button" class="btn btn-danger" (click) = "stopStrategy(a.id)">Remove</button></td>
            <td><button type="button" class="btn btn-info" (click) = "getPerformance(a.id)">Performance</button></td>
          </tr>
        </tbody>
</table>

<table class="table" [hidden]="running">
        <thead class="thead-light">
            <tr>
                <th scope="col" *ngFor="let col of pausecolumns" >{{col}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let a of pause">
                <th scope="row">{{a.id}}</th>
                <td>{{a.stockName}}</td>
                <td>{{a.type}}</td>
                <td>{{a.stoppingThreshold}}</td>
                <td>{{a.exitThreshold}}</td>
                <td>{{a.amount}}</td>
                <td>{{a.param1}}</td>
                <td>{{a.param2}}</td>
                <td><button type="button" class="btn btn-success" (click) = "startStrategy(a.id)">Start</button></td>
            </tr>
        </tbody>
      </table>
      
    </div>
