<div class="container alert alert-info" >
    <div class="row">
        <div class="col-md">

            <h4 style="padding-top : 6px">Get Stock Price : </h4>
        </div>
        <div class="col-md">
            <form>
                <div class="input-group">
                <input type="text" class="form-control" id="stockName" name="stockName" [(ngModel)]="stockName" required>
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-outline-secondary" (click)="getStock()" >Search</button>
                </span>
                </div>
            </form>
        </div>
        <div style="padding-top : 6px" class="col-md" [hidden]="!stock || !valid">
            Stock Name: {{stock?.name}}
        </div>
        <div style="padding-top : 6px" class="col-md" [hidden]="!stock || !valid">
            Current Price: {{stock?.price}}
        </div>

    </div>
</div>
<div class="container alert alert-danger" [hidden]="valid">
        <strong>
             <p style="padding-top : 8px; text-align:center">ERROR : Please Input a Valid Stock</p>
        </strong>

     </div>
