selected {
    background-color: #CFD8DC !important;
    color: white;
  }
  .stocks {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 15em;
    display: inline-block;
  }
  .stocks li {
    display: inline-block;
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
  }
  .stocks li.selected:hover {
    background-color: #BBD8DC !important;
    color: white;
  }
  .stocks li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
  }
  .stocks .text {
    display: inline-block;
    position: relative;
    top: -3px;
  }
  .stocks .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color: #607D8B;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
  }
  .flex-container {
    display: flex;
    height: 600px;
    flex-wrap: wrap;
    align-content: space-between;
  }

  .stock h4 { 
    display: inline-block;
    padding-top : 5px;
    font-size: 1em;
    text-align: center;
    font-weight: bold;
}