/* You can add global styles to this file, and also import other style files */
/* Application-wide Styles */
@import '~bootstrap/dist/css/bootstrap.min.css';
h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
  }
  h2, h3 {
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
  }
  body {
    margin: 2em;
    padding-top: 80px; 
  }
  body, input[text], button {
    color: #888;
    font-family: Cambria, Georgia;
  }
  /* everywhere else */
  * {
    font-family: Arial, Helvetica, sans-serif;
  }

 .starter-template {
     padding: 3rem 1.5rem;
     text-align: center;
 }